Package SelkerCarInsuranceCalc{

Import Java.util.Scanner;

  public class SelkerCarInsuranceCalc{
  
    public static void main(strings, args[]){
      Scanner userInput = new Scanner (System.in);
      int liabilityCost = 250;
      //Recall Methods
      
      public String getExplaination{
      System.out.println("This programs primary function is to inform people how much their insurance would be based on these key factors:");
      System.out.println("The orignial cars value, the car's age, and primary drivers gender.");
      }
      
      public static getCarAge(carModel, carYear){
      int currentYear = 2016;
      int carYear = userInput.nextInt();
      int calcAge = currentYear - carYear;
        Return calcAge;
        }
        
      }
    }
  }
